<h2>Add Product</h2>
<p>{{product | json}}</p>

<form (ngSubmit)="AddProduct()" #productForm="ngForm">
  <!-- <div style="margin-bottom: 10px;">
    <label for="id">ID:</label><br>
    <input type="text" id="id" name="id" [(ngModel)]="product.id" required>
  </div> -->

  <div style="margin-bottom: 10px;">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" [(ngModel)]="product.name" required pattern="[a-zA-Z0-9]+"
      title="Name can only contain letters and numbers.">
  </div>
  <!-- error message for name-->
  <div style="margin-bottom: 10px;">
    <div *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched"
      style="color: red; font-size: smaller;">Invalid Name</div>
      <div *ngIf="productForm.controls['name'].errors?.['pattern']"
      style="color: red; font-size: smaller;">Name can only contain letters and numbers.</div>
  </div>

  <div style="margin-bottom: 10px;">
    <label for="quantity">Quantity:</label><br>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" required min=0 max=100  >
  </div>
  <!-- error message for quantity  -->
  <div style="margin-bottom: 10px;">
    <div *ngIf="productForm.controls['quantity'].invalid && productForm.controls['quantity'].touched"
      style="color: red; font-size: smaller;">Invalid Quantity</div>
      <div *ngIf="productForm.controls['quantity'].errors?.['min']"
      style="color: red; font-size: smaller;">Quantity must be greater than 0</div>
      <div *ngIf="productForm.controls['quantity'].errors?.['max']"
      style="color: red; font-size: smaller;">Quantity must be less than 100</div>
  </div>

  <div style="margin-bottom: 10px;">
    <label for="imgUrl">Image URL:</label><br>
    <input type="file" id="imgUrl" name="imgUrl" [(ngModel)]="product.imgUrl" required accept="image/*" >
  </div>
  <!-- error message for imgUrl -->
  <div style="margin-bottom: 10px;">
    <div *ngIf="productForm.controls['imgUrl'].invalid && productForm.controls['imgUrl'].touched"
      style="color: red; font-size: smaller;">Invalid Image URL</div>
  </div>

  <div style="margin-bottom: 10px;">
    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" [(ngModel)]="product.price" required min=0 >
  </div>
  <!-- error message for price -->
  <div style="margin-bottom: 10px;">
    <div *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched"
      style="color: red; font-size: smaller;">Invalid Price</div>
      <div *ngIf="productForm.controls['price'].errors?.['min']"
      style="color: red; font-size: smaller;">Price must be greater than 0</div>
  </div>

  <div style="margin-bottom: 20px;">
    <label for="categoryId">Category:</label><br>
    <select id="categoryId" name="categoryId" [(ngModel)]="product.categoryId" required>
      <option value="">-- Select Category --</option>
      <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
    </select>
  </div>
  <!-- error message for categoryId -->
  <div style="margin-bottom: 10px;">
    <div *ngIf="productForm.controls['categoryId'].invalid && productForm.controls['categoryId'].touched"
      style="color: red; font-size: smaller;">Invalid Category</div>
  </div>

  <button type="submit" [disabled]="!productForm.form.valid" class="btn btn-primary">Submit</button>
</form>
