<h2>Add Product</h2>
<p>{{product | json}}</p>

<form (ngSubmit)="AddProduct()" #productForm="ngForm">
  <!-- <div style="margin-bottom: 10px;">
    <label for="id">ID:</label><br>
    <input type="text" id="id" name="id" [(ngModel)]="product.id" required>
  </div> -->

  <div style="margin-bottom: 10px;">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" [(ngModel)]="product.name" required>
  </div>

  <div style="margin-bottom: 10px;">
    <label for="quantity">Quantity:</label><br>
    <input type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" required>
  </div>

  <div style="margin-bottom: 10px;">
    <label for="imgUrl">Image URL:</label><br>
    <input type="file" id="imgUrl" name="imgUrl" [(ngModel)]="product.imgUrl">
  </div>

  <div style="margin-bottom: 10px;">
    <label for="price">Price:</label><br>
    <input type="number" id="price" name="price" [(ngModel)]="product.price" required>
  </div>

  <div style="margin-bottom: 20px;">
    <label for="categoryId">Category:</label><br>
    <select id="categoryId" name="categoryId" [(ngModel)]="product.categoryId" required>
      <option value="">-- Select Category --</option>
      <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="!productForm.form.valid" class="btn btn-primary">Submit</button>
</form>
