<div class="card user-card p-3 shadow-sm">
  <img [src]="user.image" alt="User Image" class="card-img-top user-image mx-auto mt-2" />

  <div class="card-body text-center">
    <span class="badge role-chip mb-2" [ngClass]="getRoleClass(user.role)">
      {{ user.role }}
    </span>
    <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
    <p class="card-text"><strong>Phone:</strong> {{ user.phone }}</p>
    <p class="card-text"><strong>Birthdate:</strong> {{ user.age }}</p>
  </div>
</div>
