



<div class="row row-cols-1 row-cols-md-3  g-4">
  @for (prd of FilteredProducts ; track prd.id ; let i =$index ; ) {
  <div class="col">
    <div class="card" appHighlightCard="gray" externalColor="pink">
      <img [src]="prd.imgUrl" class="card-img-top" [style.height.px]="300" [style.object-fit]="'cover'" alt="...">
      <div class="card-body d-flex flex-column">
        <p>id : {{prd.id}}</p>
        <h5 class="card-title">{{prd.name}}</h5>
        <p class="card-text">Price : {{prd.price | currency:'EUR': 'symbol' }}</p>

        <div [ngSwitch]="prd.quantity" class="mb-2">
          <p class="card-text  text-danger text-center mark  fs-4 fw-bold border-bottom" *ngSwitchCase="0" >Out of Stock</p>
          <p class="card-text text-success mark fs-4 fw-bold text-center" *ngSwitchCase="1">Last Item</p>
          <p class="card-text text-success mark fs-4 fw-bold text-center" *ngSwitchCase="2">Last Two Item</p>
          <p class="card-text" *ngSwitchDefault>Quantity : {{prd.quantity}}</p>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-auto "
          [ngClass]="{ 'd-none': prd.quantity == 0 }">
          <input type="number" #CountInput class="form-control me-2" placeholder="Quantity" />
          <button class="btn btn-success" (click)="Buy(CountInput.value, prd.price)">Buy</button>
          <!-- Details -->

        </div>
        <hr>
        <!-- <button class="btn btn-success" routerLink="/products-details">Details</button> -->
         <button class="btn btn-success" (click)="Details(prd.id)">Details</button>
         <!-- <button (click)="Details(product.id)">Details</button> -->

      </div>

    </div>
  </div>
  }@empty {
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">No Product Found</h5>
      </div>
    </div>
  </div>
  }
</div>

<h2>Date : {{ MyDate | date:'shortDate'}} </h2>
<h2>Time : {{ MyDate | date:'shortTime'}} </h2>
<h2>Date : {{ MyDate | date:'short'}} </h2>
<h2>Number : {{ MyNumber | square:5}} = 2^5 </h2>
<!-- <img src="assets/images/1.jpg" alt="dkhjkhjff">  -->


<!-- <button class="btn btn-primary" (click)="Filter()">Filter</button> -->
<!-- <div class="row row-cols-1 row-cols-md-4  g-4">
  <ng-container *ngFor="let prd of products; let i = index;let c= count ; ngForTrackBy: trackByFn">
    <div class="col" *ngIf="prd.quantity!= 0"
      [ngClass]="{ 'd-none': selectedCategory != 0 && prd.categoryId != selectedCategory }">
      <div class="card">
        <img [src]="prd.imgUrl" class="card-img-top" [style.height.px]="150" [style.object-fit]="'cover'" alt="...">
        <div class="card-body" [ngClass]="{ 'bg-success': prd.quantity > 0, 'bg-danger': prd.quantity == 0 }">
          <h5 class="card-title">{{prd.name}}</h5>
          <p class="card-text">Price : {{prd.price}}</p>
          <div [ngSwitch]="prd.quantity">
            <p class="cared-text" *ngSwitchCase="0">Out of Stock</p>
            <p class="cared-text" *ngSwitchCase="1">Last Item</p>
            <p class="cared-text" *ngSwitchCase="2">Last Two Item</p>
            <p class="cared-text" *ngSwitchDefault>Quantity : {{prd.quantity}} </p>

          </div>

          <p class="cared-text" *ngIf="prd.quantity!=1;else lastItem"
        >Quantity : {{prd.quantity}} </p>
        <ng-template #lastItem>
          <p class="cared-text">Quantity : Last Item</p>
        </ng-template> -->
<!-- <p class="cared-text">{{c}} </p>

          <input type="number" #CountInput />
          <button class="btn btn-success" (click)="Buy(CountInput.value, prd.price)">Buy</button>
        </div>
      </div>
    </div>
  </ng-container>

</div> -->
<!-- <div class="m-5 text-center bg-body-secondary fs-3 fw-bold">
  with for
</div> -->
