@{
    Layout = "_AdminLayout";
}
@model AddProductViewModel


<h1>Add New Product</h1>

<form asp-action="add" asp-controller="product" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Quantity"></label>
        <input class="form-control" asp-for="Quantity" />
        <span class="text-danger" asp-validation-for="Quantity"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="CategoryId"></label>
        <input class="form-control" asp-for="CategoryId" />
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Add New Product"/>
</form>