<!-- <input [value]="username" (keyup)="changeUsername($event)"> -->
<!-- <p>{{username}}</p> -->
<!-- <input [(ngModel)]="username" /> -->
<!-- []  property -->
<!-- () event -->

<h3>Add Recipe | Template Der. Forms</h3>
<hr />

<form #recipeForm="ngForm" (ngSubmit)="handleSubmitForm(recipeForm)">
  <div class="mb-3">
    <label for="recipeName" class="form-label">Recipe Name</label>
    <input
      type="text"
      class="form-control"
      id="recipeName"
      aria-describedby="nameHelp"
      name="recipeName"
      ngModel
      required
      minlength="3"
      #recipeName="ngModel"
    />
    @if(recipeName.invalid && recipeName.touched){
    <div id="nameHelp" class="form-text text-danger">
      @if(recipeName.hasError('required')){
      <span>Required</span>
      } @else if(recipeName.hasError('minlength')){
      <span>Min length is 3 characters</span>
      }
    </div>
    }
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="5"
      name="description"
      ngModel
      required
      minlength="10"
      maxlength="200"
      #description="ngModel"
    ></textarea>
    @if(description.invalid && description.touched){
    <div id="descriptionHelp" class="form-text text-danger">
      @if(description.hasError('required')){
      <span>Required</span>
      } @else if(description.hasError('minlength')){
      <span>Min length is 10 characters</span>
      } @else {
      <span>Max length is 200 characters</span>
      }
    </div>
    }
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="recipeForm.invalid">Submit</button>
</form>
