<!-- conntact-us works! -->
<h1>Contact Us</h1>
<!-- use code replace @ with & -->
<p>You can reach us via email: <a href="mailto:info@example.com">info&#64;example.com</a></p>
<p>Or call us at: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
<p>Follow us on social media:</p>
<ul>    
    <li><a href="https://www.facebook.com/example">Facebook</a></li>
    <li><a href="https://twitter.com/example">Twitter</a></li>
    <li><a href="https://www.instagram.com/example">Instagram</a></li>
    <li><a href="https://www.linkedin.com/company/example">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/channel/example">YouTube</a></li>
    <li><a href="https://www.pinterest.com/example">Pinterest</a></li>
    <li><a href="https://www.tiktok.com/@example">TikTok</a></li>
    <li><a href="https://www.snapchat.com/add/example">Snapchat</a></li>
    <li><a href="https://www.reddit.com/r/example">Reddit</a></li>
    <li><a href="https://www.tumblr.com/blog/example">Tumblr</a></li>
    <li><a href="https://www.quora.com/profile/example">Quora</a></li>
    <li><a href="https://www.flickr.com/photos/example">Flickr</a></li>
    <li><a href="https://www.vimeo.com/example">Vimeo</a></li>
    <li><a href="https://www.discord.com/invite/example">Discord</a></li>
    <li><a href="https://www.twitch.tv/example">Twitch</a></li>
    <li><a href="https://www.soundcloud.com/example">SoundCloud</a></li>
    <li><a href="https://www.mixcloud.com/example">MixCloud</a></li>
    
</ul>
