<!-- Hero Section -->
<div class="hero-section d-flex align-items-center"
  style="background-image: url('assets/banner.png'); background-size: cover; background-position: center; height: 100vh; position: relative;">
  <div class="container">
    <div class="row align-items-center">

      <!-- Text Section -->
      <div class="col-md-6 text-white p-5 border-end border-light text-center">
        <h1 class="display-4 mb-4">
          Hello, I'm <br>
          <span class="text-primary typing-effect">Mina Al5al</span>
        </h1>
        <p class="lead">I'm a passionate developer with a love for creating beautiful and functional web applications.</p>

        <!-- Centered Button to download CV -->
        <div class="d-flex justify-content-center">
          <a href="files/cv.pdf" class="btn-info btn btn-lg mt-4 btn-customs" download>Download CV</a>
        </div>

      </div>

      <!-- Image Section -->
      <div class="col-md-6 text-center">
        <img src="assets/icon.svg" alt="Hero Image" class="img-fluid w-100 h-100" style="max-height: 400px;">
      </div>

    </div>
  </div>
</div>


