<!-- about me contan text About me in left and text in right  and button to download cv in bottom -->
 <div class="container mt-5 mb-5">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <h2 class="display-4 mb-4 font-italic text-capitalize  about-title">About Me</h2>
    </div>
    <div class="col-md-6 text-center">

      <p class="lead font">I'm a passionate developer with a love for creating beautiful and functional web applications.</p>
      <p class="lead">With a strong background in web development, I specialize in building responsive and user-friendly websites that deliver exceptional user experiences.</p>
      <p class="lead">My goal is to continuously learn and grow as a developer while contributing to exciting projects that make a difference.</p>

    </div>
  </div>
</div>
<div class="text-center mb-5">
  <a href="files/cv.pdf" class="btn-info btn  btn-lg mt-4 " download>Download CV</a>
</div>


